@font-face {
    font-family: 'Okiku';
    src: url('https://raw.githubusercontent.com/edizbaha/mishapm-blog/main/fonts/Okiku.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
